.formControl.error input {
    border-bottom: 1px solid rgba(240, 77, 62, 0.58);
}

.formControl {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 4px;
    box-shadow: none;
    font-size: 14px;
}

.login h3 {
    margin: 0;
}

.attention {
    position: absolute;
    width: 15px;
    left: 100%;
    top: 30%
}