.userWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    padding: 10px;
    border-bottom: 1px solid #4f93ce;

}


span {text-align: left;
}
.regNumber {
    width: 40px;
}
.name {
    width: 300px;
}
.date {
    width: 100px;
}
.email {
    width: 250px;
}
.phone {
    width: 120px;
}
.distance {
    width: 100px;
}
.payment {
    width: 100px;
}
